.login_form_block {
    padding: 10%;
}

.login_form {
    box-shadow: 0 0 5px 2px rgba(27, 31, 82, 0.5);
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background: rgb(45,45,45);
    color:#4844ff;
}

.login_form div {
    margin-top: 18px;
    font-size: xx-large;
    text-align: center;
}

.login_form div input {
    border: 0;
    margin: 0 auto;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: x-large;
    background-color: rgb(70, 67, 70);
    color: #a7aad3;
    outline: none;
}

.login_form div a {
    text-decoration: none;
    border-radius: 10px;
    font-size: x-large;
    color: #4844ff;
}

.login_form div a:hover {
    color: #636df5;
}

.form_button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: x-large;
    background: rgb(45,45,45);
    box-shadow: 0 0 5px 2px rgba(27, 31, 82, 0.5);
    border-radius: 4px;
    outline: none;
    color: #4844ff;
}

.form_button:hover {
    transform: scale(1.05);
    background: rgb(50,50,50);
}

.form_button:active {
    transform: translateY(2px);
}